@using SFTPManager.Models

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ChangeModel

<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div id="main">
        <div id="currentPwdGroup">
            <label id="currentPwdLabel">Current Password : </label>
            @Html.PasswordFor(m => m.CurrentPassword)
        </div>
        <div id="newPwdGroup">
            <label id="newPwdLabel">New Password : </label>
            @Html.PasswordFor(m => m.NewPassword)
        </div>
        <div id="confPwdGroup">
            <label id="confPwdLabel">Confirm Password : </label>
            @Html.PasswordFor(m => m.ConfirmationPassword)
        </div>
        <div id="btnGroup">
            <input id="changeBtn" type="submit" value="Change Password" />
            <input id="cancelBtn" type="button" value="Cancel" />
        </div>
    </div>
}

