@using SFTPManager.Models;

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ResetModel

<h2>ResetPassword</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
     <div id="main">
         <div id="emailGroup">
             <label id="emailLabel">Email : </label>
             @Html.TextBoxFor(m => m.Email)
         </div>
         <div id="btnGroup">
             <input id="resetBtn" type="submit" value="Send" />
             <input id="cancelBtn" type="button" value="Cancel" />
         </div>
     </div>
}

